/*este sera un comentario en css*/

/*asi esta conformado el codigo css
selector * seria nuestro selector
propiedad color o background
valor red,30  */

/*selector universal*/

* {
  background-color: rgb(182, 236, 207);
  color: red;
  font-size: 20px;
}

/*selector de etiqueta*/

h1 {
  color: rgb(214, 151, 214);
}

/*selector desendente*/

div p {
  font-size: 30px;
  color: rgb(97, 32, 221);
}

/*selector tipo clase simbolo(.) tambien puedes usar id en ves de class pero el selector
seria su simbolo(#) */

.grande {
  font-size: 50px;
}
