@keyframes colores {
0%{background:#9eb3c2; }
25%{background:#1c7293; width: 300px;}
50%{background:#065a82; width: 400px;}
75%{background:#1b3bc2; width: 300px;}
}
100%{background:#9eb3c2; width: 200px;}
@keyframes movimiento1 {
  0%{transform: translate(0px);}
  50%{transform: translate(500px);}
  100%{transform: translate(0px);}

}

.colores{
  animation-name: colores;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.movimiento{
  animation-name: movimiento1;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.caja{
  width: 200px;
  height: 200px;
  margin-bottom: 40px;
  background: #9eb3c2;
}
